@model ANNIE_SHOP.Models.Banner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        
        </dt>
        <dd class = "col-sm-10">
            <img  src="@Model.ImagenUrl" alt="iamgenBanner" width="600px">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BannerId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
