@model ANNIE_SHOP.Models.Banner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BannerId" />
            <div class="form-group">
                <label asp-for="ImagenUrl" class="control-label"><img src="@Model.ImagenUrl" alt="Banner" width="300px"></label>
                <input type="hidden" asp-for="ImagenUrl" class="form-control" />
                <input type="file" name="imagenBanner" class="form-control mt-3"/>
                <span asp-validation-for="ImagenUrl" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
